.header {
    background-color: #390801;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #f7edea;
}

.header-title {
    margin-left: 20px;
    cursor: default;
}

.button-wrapper {
    float: right;
    margin-right: 20px;
}

.log-button {
    margin-right: 30px;
    cursor: pointer;
}

.setting-button {
    cursor: pointer;
}
